body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer{
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
    background-color: gold;
    color: black;
}

img{
    height: 200px;
}

nav{
    background-color: gold;
    border-bottom: 1px solid black;
    padding: 16px;
}

.div-items {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

a {
    text-decoration: none;
    color: black;
}

tr:nth-child(even) {
    background-color: gray;
}
